# cloud.ru floating IP
CLOUDRU_KEY_ID=...
CLOUDRU_KEY_SECRET=...
CLOUDRU_PROJECT_ID=...

# cloud.ru Load Balancer (другой проект)
CLOUDRU_LB_KEY_ID=...
CLOUDRU_LB_KEY_SECRET=...
CLOUDRU_LB_PROJECT_ID=...

# Selectel
SEL_TOKEN=...
SEL_PROJECT_ID=...

# Настройки
DELAY_MIN=15
DELAY_MAX=25
MAX_ATTEMPTS=1000
